.cont{
    height:400px;
    width:100vw;
    overflow:hidden;
}
.home{
    margin-top:80px;
    background-color:rgb(212,229,220);
    background-image:url('../../logo.png');
    background-size:500px;
    background-repeat:no-repeat;
    background-position-x:center;
    height:400px;
    width:50vw;
  }